*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    background: url(../media/c0fd4bda88c23eb889d8b8dc76f76de6.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  background-attachment: fixed;
}
.container{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
a{
    text-decoration-line: none;
    text-decoration-color: none;
    text-decoration: none;
    color: black;

}
.header{
    height: 90px;
    background-color: grey;
    margin:-5px;
}
.header p{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: -5px;

}
p sit{
    color: black;

}


p tap{
color:white;
}
.headersocket a{
    float:right;
    font-family:cursive;
    margin-right: 5px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: bolder;
    
}
.header a:hover{
    background-color: rgba(0, 0, 0, 0.726);
    color: aliceblue;
    padding: 6px;
    border-radius: 3px;
    border: 3px ;

}
.slider{
/* background: url(../media/c0fd4bda88c23eb889d8b8dc76f76de6.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  background-attachment: fixed; */
  height: 700px;
  
   
}
bit{
    color: white;
    text-transform: uppercase;
}
bat{
color: teal;
font-size: 45px;
font-weight: bolder;
}
net{
    color: white;
}


.fola{
    margin-top: 70px;
    margin-left: 2em;
}
 .caption{
    height: 300px;
    width: 400px;
    background-color: black;
    margin-left: 3em;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border: 7px solid white;
    float: right;
    margin-right: 20px;
    box-shadow: 2px  3px 2px black;
}
.caption button[type="submit"]{
    width: 40%;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    background:grey;
    color: black;
    transform: translateX(-64em);
    text-transform: uppercase;
    
}